* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact-scroll small{
    position: relative;
}
.row.message-box.bg2.text-white.p-3 {
    background-color: #202c33;
    align-items: center;

}
.background-img{
    background: url("https://source.unsplash.com/featured/300x204");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid {
    margin: 0;
    padding: 0;
    position: relative;
}

.chat-top {
    background: #202c33;
    min-height: 59px;
    color: white;
}

.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.border-right {
    border-right: 1px solid black;
}

.contact {
    background: #111b21;
    min-height: 600px;
}

.contact-scroll {
    overflow-y: scroll;
    height: 600px;
}

.chat td {
    border: none;
}

.contact td:hover {
    color: white;
}

.message-scroll {
    overflow-y: scroll;
    height: 550px;

    /* background: #202c33; */
}

.message-box {
    padding-right: 9%;
    padding-left: 9%;
    overflow: hidden;
}

.message-box p:nth-child(even) {
    text-align: right;
}

.dflex {
    display: flex;
    justify-content: space-around;

}

tbody small:nth-child(odd) {
    color: #25D366;
}

.message-box small {
    background-color: #00a884;
    color: white;
    padding: 6px 7px 8px 9px;

}

svg {
    cursor: pointer;
}

.posi {
    position: sticky;
    top: 10px;
}

tbody small:nth-child(odd)::after {
    content: "1";
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
    display: block;
    text-align: center;
    color: white;
    background: #25D366;
    position: absolute;
    /* right: 0; */
    left: 70px;

}

.bg {
    background-color: #2A3942;
}

.bg2 {
    background: #202c33;
    margin: 0;
}

.border {
    border: none !important;
    outline: none;
}

.message-box svg {
    height: 22px;
    width: 22px;
}

.mobile {
    display: none !important;
}

.mobiles {
    max-width: 480px;
    margin: auto;

}

li {
    list-style: none;
}

.header-box {
    background: #202c33;
    padding: 13px 32px;
    color: gray;
    font-weight: 600;
}

.text-white {
    color: white;
}

.chat-bg {
    background: #202c33;
}

.chat-bg {
    background: #111b21;
}

.chat-bg span {
    font-size: 20px;
    font-weight: 600;
}

.chat-bg td {
    color: gray;
}

.searchbar {
    background: white;
    display: flex;
    padding: 0 12px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background: #111b21;
    margin: 20px 10px;
    cursor: pointer;
}

.searchbar input {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
}

.search__input {
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background: #202c33;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    flex: 1;

}

svg.bi.bi-search.searchbox1 {
    margin: 0 20px;
}

svg.bi.bi-filter {
    margin: 0 20px;
}

@media only screen and (max-width: 480px) {

    /* .contact {
        width: 100%;
    }

    .chat-top {
        justify-content: center;
    }

    .contact-scroll {
        height: 100%;
    }

    .contact-scroll.message-scroll.chat {
        display: none;
    } */
    .back-container {
        display: none;
    }

    .mobiles {
        height: 100vh;
    }

    .logo {
        font-size: 28px;
    }

    .contact-scroll {
        height: 100%;
    }

    .chat-bg {
        background-color: white;
        color: black;

    }

    .mobiles svg {
        margin: 0 8px;
        height: 22px;
        width: 22px;
    }

    .chatbox li {
        font-size: 18px;
        position: relative;
    }

    .chatbox {
        margin-top: 18px;
    }

    .right {
        margin-right: -20px;
    }

    .profile-image {
        height: 60px;
        width: 60px;
    }

    .chatbox li:hover, .chatbox li:active {
        content: "";
        position: absolute;
        height: 4px;
        width: 15%;
        background: gray;
        display: block;
    }

    svg.bi.bi-chat-right-text {
        position: fixed;
        right: 10%;
        bottom: 5%;
        background: green;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 12px;
        color: white;
        cursor: pointer;
    }

    .status::before {
        content: "";
        background-color: #adb5bd;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 82px;
        top: 10px;
    }

    .status::after {
        content: "";
        background-color: #00a884;
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 32px;
    }

    .mobiles tbody small::after {
        content: "1";
        position: absolute;
        right: 20px;
        background: #25D366;
    }
}

@media only screen and (min-width: 481px) {
    .mobiles {
        display: none;
    }
}