* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    margin: 0;
    padding: 0;
    position: relative;
}

.chat-top {
    background: #202c33;
    min-height: 59px;
    color: white;
}

.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.border-right {
    border-right: 1px solid black;
}

.contact {
    background: #111b21;
    min-height: 600px;
}

.contact-scroll {
    overflow-y: scroll;
    height: 600px;
}

.chat td {
    border: none;
}

.contact td:hover {
    color: white;
}

.message-scroll {
    overflow-y: scroll;
    height: 550px;

    /* background: #202c33; */
}


.message-box {
    background: #F0F0F0;
}

.bg {
    background-color: #2A3942;
}

.bg2 {
    background: #202c33;
}

.border {
    border: none;
    outline: none;
}

.message-box svg {
    height: 22px;
    width: 22px;
}

.mobile {
    display: none !important;
}

.mobiles {
    max-width: 480px;
    margin: auto;
    display: none;
}

li {
    list-style: none;
}

.header-box {
    background: #202c33;
    color: white;
    padding: 13px 32px
}

.text-white {
    color: white;
}

.chat-bg {
    background: #202c33;
}

.chat-bg span {
    font-size: 20px;
    font-weight: 600;
}

.chat-bg td {
    color: gray;
}

.searchbar {
    background: white;
    display: flex;
    padding: 0 12px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background: #111b21;
    margin: 20px 0;
    cursor: pointer;
}

.searchbar input {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
}

.search__input {
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background: #202c33;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    flex: 1;

}
svg.bi.bi-search.searchbox1{
    margin: 0 20px;
}
svg.bi.bi-filter{
    margin: 0 20px;
}
@media only screen and (max-width: 480px) {
    /* .contact {
        width: 100%;
    }

    .chat-top {
        justify-content: center;
    }

    .contact-scroll {
        height: 100%;
    }

    .contact-scroll.message-scroll.chat {
        display: none;
    } */

    .mobiles {
        display: block;
    }

    .back-container {
        display: none;
    }

    .logo {
        font-size: 28px;
    }

    .contact-scroll {
        height: 100%;
    }

    .chat-bg {
        background-color: white;
        color: black;
    }

    .mobiles svg {
        margin: 0 8px;
        height: 22px;
        width: 22px;
    }

    .chatbox li {
        font-size: 18px;
    }

    .chatbox {
        margin-top: 18px;
    }

    .right {
        margin-right: -20px;
    }

    .profile-image {
        height: 60px;
        width: 60px;
    }

    .chatbox li:hover, .chatbox li:active {
        content: "";
        position: absolute;
        height: 4px;
        width: 15%;
        background: gray;
        display: block;
    }

    svg.bi.bi-chat-right-text {
        position: fixed;
        right: 10%;
        bottom: 5%;
        background: green;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 12px;
        color: white;
        cursor: pointer;
    }
}